



## emacs backups
*.R~
*.c~
NAMESPACE~
DESCRIPTION~
Makevars~
Makefile~
*.bib~
*.cls~
*.sty~



## unnecessary files
*.pdf
*.bbl
*.aux
*.log
*.out
*.blg


## files generated during compilation
*.so
*.o


#.gitignore
/tests/testthat/.RData
